<h2>
    {{ title }}
</h2>

<div *ngIf="favouriteAdded">
    <h2>Product {{favouriteAdded.name}} added to your favourites!</h2>
</div>

<div class="right">
    {{ productsNb$ | async }} products <span *ngIf="filtered$ | async">(filtered)</span> / 

    {favourites, plural,
    =0 {no favourite}
    =1 {1 favourite}
    other {{{favourites}} favourites}
    }
</div>
<div> 
    Search: <input type="text" [formControl]="filter" placeholder="filter by name">
    &nbsp;
</div>

<ul class="products" *ngIf="filteredProducts$ | async as products">
    <li *ngFor="let product of products | slice:start:end"
        (click)="onSelect(product)"
        [class.discontinued]="product.discontinued"
        [class.selected]="selectedProduct === product"
        [title]="product | json">
        <span class="name">{{ product.name | uppercase }}</span>
        <span class="description">{{ product.description }}</span>
        <span class="price">{{ product.price | currency:'CAD':'symbol-narrow':'.2' }}</span>
    </li>
</ul>

<div class="right">
    <button (click)="refresh()">Refresh List</button>&nbsp;
    <a routerLink="insert">Add new product...</a>
</div>

<div>
    <button (click)="previousPage()"
            [disabled]="start === 0">
        < Previous Page
    </button>
    Page {{ currentPage }}
    <button (click)="nextPage()"
            [disabled]="(productsNb$ | async) <= end">
        Next Page >
    </button>
</div>